<div class="container mt-1 pl-lg-5">
    <div class="row justify-content-start">
        <div class="col-lg-10 col-12 px-lg-3 order-lg-1 order-2 pb-3 pt-3">
            <div class="card-custom mt-3 help-card">
                <div class="row justify-content-center align-items-center">
                        <h1 style="text-align: center"><i class="fa fa-check-circle"
                            style="font-size: 150px;color:rgb(103, 192, 13);" aria-hidden="true"></i></h1>
                </div>
                <div class="row justify-content-center align-items-center"></div>
                    <h1 class="mt-2 font-weight-bold" style="text-transform: uppercase; text-align: center">Password Change Successful!</h1>
                    <h5 class="mt-2" style="text-align: center">Your password has been changed successfully.</h5>
                    <p style="text-align: center"></p>
                </div>
            </div>
        </div>
    </div>
</div>