{% extends 'redressal/dashboard_base.html' %}
{% load static %}
{% block page_title %}Dashboard{% endblock page_title %}
{% block page_heading %}Your Dashboard{% endblock page_heading %}
{% block page_content %}
<!--message Modal -->
<div class="modal fade" id="grievance-messages-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--End  Modal -->

<div class="container mb-lg-3 mt-lg-2 pl-lg-5">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a href="{% url 'all_grievances' %}">
                <div class="options" style="cursor: pointer">
                    <div>
                        <img src="{% static 'assets/img/tasks.jpg' %}" class="options-img" />
                    </div>
                    <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-comments"
                            aria-hidden="true"></i><br>
                        All Grievances
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a href="{% url 'charts'%}">
                <div class="options" style="cursor: pointer">
                    <div>
                        <img src="{% static 'assets/img/feedback.jpeg' %}" class="options-img" />
                    </div>
                    <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-bar-chart"
                            aria-hidden="true"></i><br>
                        Analytics
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a href="{% url 'password_change' %}">
                <div class="options" style="cursor: pointer">
                    <div>
                        <img src="{% static 'assets/img/account.jpeg' %}" class="options-img" />
                    </div>
                    <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-user"
                            aria-hidden="true"></i><br>
                        My Profile
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a href="{% url 'logout' %}">
                <div class="options" style="cursor: pointer">
                    <div>
                        <img src="{% static 'assets/img/logout.jpeg' %}" class="options-img" />
                    </div>
                    <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-sign-out"
                            aria-hidden="true"></i><br>
                        Logout
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="container mt-1 pl-lg-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12 px-lg-3 order-lg-1 order-2">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center">
                    <div class=" col ">
                        <h5 class="my-3 card-custom-title" style="">All Grievances</h5>
                    </div>
                    <div style="text-align: right" class=" col">
                        <a href="{% url 'all_grievances' %}">
                            <button class="btn btn-dark">View All &nbsp
                            </button>
                        </a>
                    </div>

                    <table class="table step3-table filter-this-table">
                        <tbody>
                            {% include 'redressal/includes/iterate_grievances.html' %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 px-lg-3 order-lg-1 order-2">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <h5 class="my-3 card-custom-title" style="">Notifications</h5>
                    </div>
                    <table class="table filter-this-table">
                        <tbody>
                            {% for notification in notifications %}
                            <tr>
                                <td style="vertical-align: middle" colspan="1">
                                    <h6 class="my-2">{{ notification.date_time }}</h6>
                                    <p>New Grievance No. <a href="{% url 'view_grievance' notification.grievance.token %}"><strong>{{ notification.grievance.token }}<strong></a><br>registered</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-custom mt-3 help-card">
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <h5 class="my-3 card-custom-title" style="">Stats</h5>
                    </div>
                    <table class="table step3-table filter-this-table">
                        <thead>
                            <div>
                                <canvas id="grievance-status-chart" data-url="{% url 'status_stats_chart' %}"></canvas>
                            </div>
                            <div>
                                <a href="{% url 'charts'%}">
                                    <button class="btn btn-dark mt-2">View All Charts</button>
                                </a>
                            </div>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-0 pl-lg-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 px-lg-3 order-lg-1 order-2">


        </div>
    </div>
</div>


<br /><br />

{% endblock page_content %}
{% block javascript %}
{% include 'includes/chart_scripts.html' %}
<script src="{% static 'common/js/status_pie_loader.js' %}"></script>
{% endblock %}