{% extends 'redressal/dashboard_base.html' %}
{% load static %}
{% block page_title %}List of Bodies{% endblock page_title %}
{% block page_heading %}Bodies{% endblock page_heading %}
{% block page_content %}
    <div class="container mt-3 pl-lg-5">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-12 px-lg-3 ">
                <div class="card-custom mt-2 mt-lg-0 help-card">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h5 class="my-3 card-custom-title" style="">Registered Bodies</h5>
                        </div>
                        <table class="table step3-table filter-this-table">
                            <thead>
                            <tr>
                                <th scope="col"><h6>Name</h6></th>
                                <th scope="col"><h6>Head Name</h6></th>
                                <th scope="col"><h6>Delete</h6></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for body in bodies %}
                                <tr aria-rowspan="2" class="card-row">
                                    <td class="align-middle">
                                        <div class="initiative-heading">
                                            <h6 class="font-weight-bold mb-0">{{ body.name }}</h6>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        {% with body_head=body.get_head %}
                                            <p class="m-0">{{ body_head.first_name }} {{ body_head.last_name }}</p>
                                        {% endwith %}
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_body' pk=body.pk %}">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 px-lg-3 ">
                <div class="card-custom mt-2 mt-lg-0 help-card">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h5 class="my-3 card-custom-title" style="">Invited Bodies</h5>
                        </div>
                        <div style="text-align: center" class=" mb-2 mr-5">
                            <a href="{% url 'add_body' %}">
                                <button class="btn btn-outline"
                                        style="color: #252766; border-color: #252766;"><i
                                        style=" font-size: small"
                                        class="fa fa-user-plus"
                                        aria-hidden="true"></i>&nbsp;Invite
                                </button>
                            </a>
                        </div>
                        <table class="table step3-table filter-this-table">
                            <thead>
                            <tr>
                                <th scope="col"><h6>Name</h6></th>
                                <th scope="col"><h6>Head Name</h6></th>
                                <th scope="col"><h6>Delete</h6></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for body in in_bodies %}
                                <tr aria-rowspan="2" class="card-row">
                                    <td class="align-middle">
                                        <div class="initiative-heading">
                                            <h6 class="font-weight-bold mb-0">{{ body.name }}</h6>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        {% with body_head=body.get_head %}
                                            <p class="m-0">{{ body_head.first_name }} {{ body_head.last_name }}</p>
                                        {% endwith %}
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_body' pk=body.pk %}">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
