{% extends 'redressal/dashboard_base.html' %}
{% load widget_tweaks %}
{% block page_title %}View Grievance{% endblock page_title %}
{% block page_heading %}View Grievance{% endblock page_heading %}
{% block page_content %}
<div class="container mt-3 pl-lg-5">
    <div class="row">
        <div class="col-md-10 col-12 px-lg-3 ">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="mt-3">
                        {% if grievance.sub_category.priority == grievance.sub_category.HIGH %}
                        <p class="text-danger">
                            High Priority <i class="fa fa-exclamation-triangle"></i></p>{% endif %}
                        <h5 class="card-custom-title" style="">{{ grievance.subject }}</h5>
                    </div>
                </div>

                {% if grievance.rating %}
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #252766; border-radius: 5px">
                    <div class="col-12">
                        <h6 class="font-weight-bold"> <span style="float: left;">Student has rated the grievance: &nbsp;</span>
                            <div class="rate pl-0" style="height: 15px;">
                                {% with ''|center:grievance.rating.get_lacking_score as range %}
                                {% for _ in range %}
                                <input type="radio" id="star5" name="rate" value="5" checked disabled />
                                <label for="star5" style="color: #ced4da; font-size: 15px !important;">5 stars</label>
                                {% endfor %}
                                {% endwith %}
                                {% with ''|center:grievance.rating.rating as range %}
                                {% for _ in range %}
                                <input type="radio" id="star5" name="rate" value="5" checked disabled />
                                <label for="star5" style="color: #ffc700; font-size: 15px !important;">5 stars</label>
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </h6>
                    </div>
                    <div class="col-12 justify-content-center" style="text-align: center;">


                    </div>

                </div>
                {% endif %}


                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p><b>Token No.:</b> {{ grievance.token }}</p>
                            </div>
                            <div class="col">
                                <p><b>Status:</b><span class="{{ grievance.status_html_class }}">
                                        {{ grievance.get_status_display }}</span></p>
                            </div>
                            <div class="col-12 col-lg-6" hidden>
                                <p><b>Category:</b> {{ grievance.get_category_display }}</p>
                            </div>
                            <div class="col-12 col-lg-6 ">
                                <p><b>Sub-category:</b> {{ grievance.sub_category.sub_type }}</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p><b>Posted on: </b> {{ grievance.date }}</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p><b>Last updated: </b> {{ grievance.last_update }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <h6 class="font-weight-bold">Description</h6>
                        <p class="text-muted">
                            {{ grievance.message }}
                        </p>
                    </div>
                </div>
                {% if grievance.image %}
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <h6 class="font-weight-bold">Attachment <span class="text-muted small">(Click to enlarge)</span>
                        </h6>
                        <a href="/media/{{ grievance.image }}" target="_blank">
                            <img src="{{ grievance.image.url }}" height="100%" width="100%" style="border-radius: 5px;">
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if escalation_form %}
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <h6 class="font-weight-bold mb-3">Escalate Grievance to
                            {{ grievance.get_escalated_level_display }} Level</h6>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    {% render_field escalation_form.sub_category class="custom-select input-group-sm" %}
                                </div>
                                <div class="col">
                                    <button type='submit' class='btn btn-sm btn-dark'>
                                        Escalate
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-12 px-lg-3 pt-3">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="">
                        <h5 class="my-3 card-custom-title" style="">Messages</h5>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-12 px-lg-0 order-lg-1 p-0">
                                <div
                                    style="height:300px; overflow-y:scroll; border: 1px solid #dee2e6; border-radius: 5px;">
                                    <table class="table filter-this-table">
                                        <tbody>
                                            {% include "includes/iterate_replies.html" %}
                                            <!--========== ROW 1 ENDS =========-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-12 px-lg-3 pt-3">
            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="col">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row py-2">
                                <div class="col-12 pl-2 pr-0">
                                    <h5 class="my-2 card-custom-title" style="">Status</h5>
                                    <div class="" style="margin-left: -10px;">
                                        {{ update_form.status. }}
                                        {% render_field update_form.status class="custom-select input-group-sm" %}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h5 class="my-3 card-custom-title" style="margin-left: -5px;">Reply</h5>
                            </div>
                            {% include "includes/reply_form.html" %}
                            <div class="row" style="text-align: center" class=" mb-3">
                                <button type="submit" class="btn btn-success" style="width: 100%"><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}