/venv/
/frontend/
/studentg/templates_old/
/studentg/static_old/
/.floo
/.flooignore
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.vscode/settings.json
/.idea/Student-Grievance-Support-System.iml
/.idea/vcs.xml
/studentg/.env
