{% load static %}
<div class="sidebar">
    <a class="p-0" href="{% url 'home' %}" style="text-align: center">
        <img class="navbar-logo" src="{% static 'assets/img/Logos/govt-logo-trans.png' %}" height="75" alt="">
    </a>
    <hr>
    <a href="{% url 'dashboard' %}">
        <div class="mb-2 mt-4" style="cursor: pointer">
            <button class="sidebar-button {% if request.resolver_match.url_name == "dashboard" %}active{% endif %}">
                <i style="font-size:large" class="fa fa-home" aria-hidden="true"></i>
            </button>
            <p class="sidebar-title"><br>
                Dashboard
            </p>
        </div>
    </a>
    {% if request.user.designation in request.user.HEAD_DESIGNATIONS %}
        <a href="{% url 'view_members' %}">
            <div class="mb-2 mt-4" style="cursor: pointer">
                <button class="sidebar-button {% if request.resolver_match.url_name == "view_members" %}active{% endif %}">
                    <i style="font-size:large" class="fa fa-users" aria-hidden="true"></i>
                </button>
                <p class="sidebar-title"><br>
                    Members
                </p>
            </div>
        </a>
        <a href="{% url 'view_subcategories' %}">
            <div class="mb-2 mt-4" style="cursor: pointer">
                <button class="sidebar-button {% if request.resolver_match.url_name == "view_subcategories" %}active{% endif %}">
                    <i style="font-size:large" class="fa fa-list" aria-hidden="true"></i>
                </button>
                <p class="sidebar-title"><br>
                    Subcategories
                </p>
            </div>
        </a>
    {% endif %}
    {% if request.user.designation == request.user.DEP_HEAD or request.user.designation == request.user.DEPARTMENT %}
        <a href="{% url 'view_students' %}">
            <div class="mb-2 mt-4" style="cursor: pointer">
                <button class="sidebar-button {% if request.resolver_match.url_name == "view_students" %}active{% endif %}">
                    <i style="font-size:large" class="fa fa-graduation-cap" aria-hidden="true"></i>
                </button>
                <p class="sidebar-title"><br>
                    Students
                </p>
            </div>
        </a>
    {% endif %}
    {% if request.user.is_superuser or request.user.designation == request.user.UNI_HEAD or request.user.designation == request.user.INS_HEAD %}
    <a href="{% url 'view_bodies' %}">
        <div class="mb-2 mt-4" style="cursor: pointer">
            <button class="sidebar-button {% if request.resolver_match.url_name == "view_bodies" %}active{% endif %}">
                <i style="font-size:large" class="fa fa-university" aria-hidden="true"></i>
            </button>
            <p class="sidebar-title"><br>
                Bodies
            </p>
        </div>
    </a>
    {% endif %}
    <a href="{% url 'charts'%}">
        <div class="mb-2 mt-4" style="cursor: pointer">
            <button class="sidebar-button {% if request.resolver_match.url_name == "charts" %}active{% endif %}">
                <i style="font-size:large" class="fa fa-bar-chart" aria-hidden="true"></i>
            </button>
            <p class="sidebar-title"><br>
                Analytics
            </p>
        </div>
    </a>
    <a href="{% url 'password_change' %}">
        <div class="mb-2 mt-4" style="cursor: pointer">
            <button class="sidebar-button {% if request.resolver_match.url_name == "password_change" %}active{% endif %}">
                <i style="font-size:large" class="fa fa-user" aria-hidden="true"></i>
            </button>
            <p class="sidebar-title"><br>
                My Profile
            </p>
        </div>
    </a>
    <hr>
    <a href="{% url 'logout' %}">
        <div class="mb-2 mt-4" style="cursor: pointer">
            <button class="sidebar-button">
                <i style="font-size:large" class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
            <p class="sidebar-title"><br>
                Logout
            </p>
        </div>
    </a>
</div>