{% for grievance in grievances %}
    <tr aria-rowspan='2' class='card-row'>
        <td class='align-middle pb-0 pt-0'>
            <div class='initiative-heading'>
                <h6 class=' mb-0' style='text-align: center'>Token Number</h6>
                <h6 class='d-xs-block d-md-none mb-0 font-weight-bold'
                    style='color:#252766; text-align: center; font-size: small !important;'>
                    {{ grievance.token }}</h6>
                <h3 class='d-none d-md-block mb-0'
                    style='text-align: center; color:#252766;'>
                    {{ grievance.token }}</h3>
            </div>
        </td>
        <td class='align-middle pb-0' colspan="2">
            <table class="table step3-table filter-this-table">
                <tr>
                    <th colspan="2" style="text-align:left;" class="p-0">
                        <h5 class='d-none d-md-block mb-0 text-uppercase font-weight-bold'
                            style='color:#252766;'>{{ grievance.subject }}</h5>
                    </th>
                </tr>
                <tr>
                    <th class="align-middle p-0">
                        <p class='m-0 d-xs-block d-md-none font-weight-bold text-uppercase'
                           style='color:#252766; font-size: small !important;'>{{ grievance.subject }}</p>
                        <p class='m-0 d-none d-md-block'
                           style="font-weight: normal !important;">
                            <b>Category:</b> {{ grievance.get_category_display }}</p>
                        <p class='m-0 d-none d-md-block'
                           style="font-weight: normal !important;">
                            <b>Sub-Category:</b> {{ grievance.sub_category }}</p>
                        <p class='m-0 d-block d-md-none'
                           style="font-weight: normal !important;"><b>Status:</b><b
                                class="{{ grievance.status_html_class }}">
                            {{ grievance.get_status_display }}</b></p>
                    </th>
                    <th class='align-middle p-0'>
                        <p class='m-0 d-none d-md-block'
                           style="font-weight: normal !important;"><b>Status:</b><span
                                class="{{ grievance.status_html_class }}">
                                                {{ grievance.get_status_display }}</span></p>
                        <p class='mb-0 d-none d-md-block'
                           style="font-weight: normal !important;"><b>Posted
                            on:</b> {{ grievance.date }}</p>
                    </th>
                </tr>
            </table>
        </td>
        <td class="pb-0" style="text-align: left;" colspan="1">
            <button type='button' class='btn btn-sm btn-outline-dark' data-toggle='collapse'
                    data-target="#collapse-grievance-{{ forloop.counter }}"
                    aria-expanded='false' aria-controls='collapseExample'>
                <i class='fa fa-angle-down' aria-hidden='true'></i>
            </button>
        </td>
        {#                            <td class='align-middle' hidden>#}
        {##}
        {#                            </td>#}
    </tr>
    <tr>
        <td colspan='4' class='sub-td'>
            <table class='collapse sub-table' id='collapse-grievance-{{ forloop.counter }}'>
                {#                                            <tr hidden>#}
                {#                                                <td colspan='1'>#}
                {#                                                    Details of Applied Volunteers#}
                {#                                                </td>#}
                {#                                                <td colspan='3'>#}
                {#                                                    <a href=''>#}
                {#                                                        <button class='btn btn-sm btn-outline-primary mt-1'>#}
                {#                                                            Download#}
                {#                                                        </button>#}
                {#                                                    </a>#}
                {#                                                </td>#}
                {#                                            </tr>#}
                <tr class='d-md-none'>
                    <td colspan='1'>
                        Token Number
                    </td>
                    <td colspan='3'>
                        <div class='initiative-description'>
                            <p class='text-muted' align='left'>{{ grievance.token }}</p>
                        </div>
                    </td>
                </tr>
                <tr class='d-md-none'>
                    <td colspan='1'>
                        Subject
                    </td>
                    <td colspan='3'>
                        <div class='initiative-description'>
                            <p class='text-muted' align='left'>{{ grievance.subject }}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class='d-md-none'>
                    <td colspan='1'>
                        Category
                    </td>
                    <td colspan='3'>
                        <div class='initiative-description'>
                            <p class='text-muted'
                               align='left'>{{ grievance.get_category_display }}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class='d-md-none'>
                    <td colspan='1'>
                        Subcategory
                    </td>
                    <td colspan='2'>
                        <div class='initiative-description'>
                            <p class='text-muted' align='left'>{{ grievance.sub_category }}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class='d-md-none'>
                    <td colspan='1'>
                        Date
                    </td>
                    <td colspan='2'>
                        <div class='initiative-description'>
                            <p class='text-muted' align='left'>{{ grievance.date }}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan='1'>
                        <p class=''>Description</p>
                    </td>
                    <td colspan='2'>
                        <div class='initiative-description'>
                            <p class='text-muted' align='left'>
                                {{ grievance.message }}
                            </p>
                        </div>
                    </td>
                </tr>
                {% if grievance.image %}
                    <tr>
                        <td colspan='1'>
                            <p class=''>Image</p>
                        </td>
                        <td colspan='2'>
                            <img src="{{ grievance.image.url }}" height="100%" width="100%">
                        </td>
                    </tr>
                {% endif %}
                <tr class='d-md-none'>
                    <td colspan='1'>
                        <p class=''>Status</p>
                    </td>
                    <td colspan='2'>
                        <div class='initiative-description'>
                            <p class="{{ grievance.status_html_class }}"
                               align='left'>{{ grievance.get_status_display }}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan='1'>
                        <p class=''></p>
                    </td>
                    <td colspan='3'>
                        <div style='' class=' mb-2 '>
                            <button type='button' class='btn btn-primary mt-1 view-message-btn' data-url="{% url 'view_messages' grievance.token %}">
                                <i
                                style=' font-size: small'
                                class='fa fa-envelope'
                                aria-hidden='true'></i>&nbsp;Messages
                            </button>
                            {% if grievance.status == grievance.DRAFT %}
                                <a href="{% url 'edit_grievance' grievance.token %}">
                                    <button class='btn btn-dark mt-1 ml-2'><i
                                            style=' font-size: small'
                                            class='fa fa-pencil'
                                            aria-hidden='true'></i>&nbsp;Edit Draft
                                    </button>
                                </a>
                            {% endif %}
                            <a href='#'>
                                <button class='btn btn-success mt-1 ml-2'><i
                                        style=' font-size: small'
                                        class='fa fa-check'
                                        aria-hidden='true'></i>&nbsp;Approve
                                </button>
                            </a>
                            <a href='#'>
                                <button class='btn btn-danger mt-1 ml-2'><i
                                        style=' font-size: small'
                                        class='fa fa-times'
                                        aria-hidden='true'></i>&nbsp;Disapprove
                                </button>
                            </a>

                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endfor %}