<footer class="footer" style="font-size: xx-small">
    <div class="container">
        <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
                <h3 class="text-primary font-weight-light mb-2"></h3>
                <h4 class="mb-0 font-weight-light" hidden>Let's get in touch on any of these platforms.</h4>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper mt-3">
                <button target="_blank" onclick="window.location='https://twitter.com/';"
                        class="btn btn-icon-only btn-twitter rounded-circle">
                    <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                </button>
                <button target="_blank" onclick="window.location='https://facebook.com/U';"
                        class="btn-icon-only rounded-circle btn btn-facebook">
                    <span class="btn-inner--icon"><i class="fa fa-facebook"></i></span>
                </button>
                <button target="_blank" onclick="window.location='https://instagram.com/';"
                        class="btn btn-icon-only btn-instagram rounded-circle">
                    <span class="btn-inner--icon"><i class="fa fa-instagram"></i></span>
                </button>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between mb-3">
            <div class="col-md-6 order-1 order-lg-0">
                <div class="copyright">
                    Copyright &copy; 2020 Govt. of Andhra Pradesh<a href="#" target="_blank" hidden>Govt. of AP</a>
                </div>
            </div>
            <div class="col-md-6 order-0 order-lg-1">
                <ul class="nav nav-footer justify-content-lg-end justify-content-start mb-3">
                    <li class="nav-item">
                        <select onchange="doGTranslate(this);" style="border-radius: 5px; padding: 8px 16px !important; ::ms-expand{ display: none}; -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; border: none; cursor: pointer; background-color: lightgrey">
                            <option class="lang notranslate" value="en|en">English</option>
                            <option class="lang notranslate" value="en|te">తెలుగు</option>
                            <option class="lang notranslate" value="en|hi">हिन्दी</option>
                            <option class="lang notranslate" value="en|mr">मराठी</option>
                            <option class="lang notranslate" value="en|ur">اردو</option>
                            <option class="lang notranslate" value="en|fa">فارسی</option>
                            <option class="lang notranslate" value="en|bn">বাংলা</option>
                            <option class="lang notranslate" value="en|gu">ગુજરાતી</option>
                            <option class="lang notranslate" value="en|kn">ಕನ್ನಡ</option>
                            <option class="lang notranslate" value="en|ne">नेपाली</option>
                            <option class="lang notranslate" value="en|pa">ਪੰਜਾਬੀ</option>
                            <option class="lang notranslate" value="en|ta">தமிழ்</option>
                            <option class="lang notranslate" value="en|ar">ﻋﹷﺮﹶﺑﹻﻲ</option>
                        </select>
                    </li>
                    <li class="nav-item">
                        {% comment %} TODO {% endcomment %}
                        <a href="#" class="nav-link">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        {% comment %} TODO {% endcomment %}
                        <a href="#" class="nav-link">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(123887)</script>