#responsive-menu-links { display: none; }

@media (max-width: 400px) {
	#responsive-menu-links { display: block; }
	.dashboard-window { margin-bottom: 10px; margin-bottom: 10px; }
	.header-links { float: none;}
	.header-logo { float: none; text-align: center; width: 100%;}
}

@media (max-width: 767px) {
	#responsive-menu-links { display: block; margin-bottom: 10px; }
	.dashboard-window { margin-bottom: 10px; }
}