<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" sizes="76x76" href="static/assets/img/Logos/govt-logo-trans.png">
    <!---<link rel="icon" type="image/png" href="static/assets/img/favicon.png">-->
    <title>
        Terms of
        <Service></Service>
    </title>

    <!----Custom Files----->
    <link href="static/assets/css/custom-css/index.css" rel="stylesheet"/>

    <!---JQuery----->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!---Bootstrap----->
    <link href="static/assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <!-----Fonts----->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet"/>


</head>

<body class="landing-page">

<!-- Navbar -->
<div class="partials_navbar_import"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.partials_navbar_import').load('partials/partial_navbar.html');
    });
</script>
<!-- End Navbar -->


<!-- Page Title -->
<div class="container-fluid"
     style="background-size: cover; background: url('static/assets/img/background.png') no-repeat fixed center;" hidden>
    <div class="col page-title align-items-center justify-content-center">


        <!-- End Page Title -->

        <!-- Page Content -->
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center" align="center">
                <div class="col-lg-3 col-12">
                    <div class="row justify-content-center">
                        <a class="navbar-brand" href="#">
                            <img src="static/assets/img/Logos/grievify-logo-3.png" height="150" alt="">
                        </a>
                    </div>
                    <div class="row mb-4 justify-content-center">
                        <h5 style="text-transform: uppercase">Got any grievances?</h5>
                        <br><h6>We are there for you!</h6>
                    </div>
                    <div class="row">
                        <div class="options" onclick="location.href='find_relief_pincode_page.html';"
                             style="cursor: pointer;">
                            <div class="options-title p-2"
                                 style=" border-radius: 5px; background-color: white; color: #fdb733"><i
                                    style="font-size: xx-large" class="fa fa-comments-o"
                                    aria-hidden="true"></i><br>
                                Submit a Grievance
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" hidden>
                    <div>
                        <img src="static/assets/img/help-convo.png" height="400"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-lg-5 mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card-columns" style="column-count: 1">
                <div class="card p-4 mb-4" style="border: none">
                    <div class="card-block justify-content-center">
                        <h1 style="text-align: center"><i class="fa fa-server" style="font-size: 150px"
                                                          aria-hidden="true"></i></h1>
                        <h1 class="mt-2 font-weight-bold" style="text-transform: uppercase; text-align: center">500</h1>
                        <h5 class="mt-2" style="text-align: center">Internal server error!</h5>
                        <p style="text-align: center">Go to <a href="index.html">homepage</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Page Content -->

<br/><br/>

<!-- Footer -->
<div class="partials_footer"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.partials_footer').load('partials/partial_footer.html');
    });
</script>
<!-- End Footer -->
<script>!function (e, t, a) {
    var c = e.head || e.getElementsByTagName("head")[0], n = e.createElement("script");
    n.async = !0, n.defer = !0, n.type = "text/javascript", n.src = t + "/static/js/chat_widget.js?config=" + JSON.stringify(a), c.appendChild(n)
}(document, "https://app.engati.com", {
    bot_key: "230b1e19f4aa4381",
    welcome_msg: true,
    branding_key: "default",
    server: "https://app.engati.com",
    e: "p"
});</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>

</html>