{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container-fluid">
    <div class="row nomargin">
      <div class="span2 offset-5">
        <div class="inner-heading">
          <h2 style="margin:15px 0px">About us</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container-fluid">
    <div class="row mt-3">

      <div class="col-1"></div>
      <div class="col-5">
        <h3>Vision</h3>
        <p>
          Ei mel semper vocent persequeris, nominavi patrioque vituperata id vim, cu eam gloriatur philosophia
          deterruisset. Meliore perfecto repudiare ea nam, ne mea duis temporibus. Id quo accusam consequuntur, eum ea
          debitis urbanitas. Nibh reformidans vim ne.
        </p>
        <p>
          Iudico definiebas eos ea, dicat inermis hendrerit vel ei, legimus copiosae quo at. Per utinam corrumpit
          prodesset te, liber praesent eos an. An prodesset neglegentur qui, usu ancillae posidonium in, mea ex eros
          animal scribentur. Et simul fabellas sit.
          Populo inimicus ne est.
        </p>
      </div>

      <div class="col-1"></div>

      <div class="col-4">
        <img src="{% static 'img/aboutus.jpeg'%}">
      </div>
    </div>

    <!-- divider -->
    <br><hr><br>
    <!-- end divider -->

    <div class="row nomargin pb-3">
      <div class="span11 offset-1">
        <h4 style="padding-top: -10px;text-align: center;padding-left: 100px;">Our Team</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <div class="team-box" style="width: 200px;height:250px;">
          <img src="{% static 'img/User1.jpg'%}" alt="" style="height: 150px; width: 150px;" />
          <div class="roles aligncenter">
            <p class="lead"><strong>User1</strong></p>
            <p>
              <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="team-box" style="width: 200px;height:250px;">
          <img src="{% static 'img/User2.jpg'%}" alt="" style="height: 150px; width: 150px;" />
          <div class="roles aligncenter">
            <p class="lead"><strong>User2</strong></p>
            <p>
              <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="team-box" style="width: 200px;height:250px;">
          <img src="{% static 'img/User1.jpg'%}" alt="" style="height: 150px; width: 150px;" />
          <div class="roles aligncenter">
            <p class="lead"><strong>User3</strong></p>
            <p>
              <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
              <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-box" style="width: 200px;height:250px;">
          <img src="{% static 'img/User2.jpg'%}" alt="" style="height: 150px; width: 150px;" />
          <div class="roles aligncenter">
            <p class="lead"><strong>User4</strong></p>
            <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
            <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
            <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}