{% extends 'dash_base.html' %}
{% load widget_tweaks %}
{% block e_content %}
<h1 class="text-center">Subcategory</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group has-feedback">
        {% render_field field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="form-control btn btn-primary">Add Subcategory</button>
</form>
{% endblock e_content %}