{% extends 'dash_base.html' %}
{% load widget_tweaks %}
{% block e_content %}
<form method="POST">
    {% csrf_token %}
    {{ body_type|capfirst }}:<br>
    {% for field in rbody_form.visible_fields %}
    <div class="form-group has-feedback">
        {% render_field field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    {{ body_type|capfirst }} Head:<br>
    {% for field in tuser_form.visible_fields %}
    <div class="form-group has-feedback">
        {% render_field field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="form-control btn btn-primary">Add {{ body_type|capfirst }}</button>
</form>
{% endblock e_content %}