{% extends 'base1.html' %}
{% load static %}
{% load widget_tweaks %}




{% block styles %}
<!-- Bootstrap -->
{% comment %}
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="scstatic/"> {% endcomment %}
<!-- Styles -->
<link href="{% static 'css/styles/layouts/titan/main.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/styles/layouts/titan/responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/styles/elements.css' %}" rel="stylesheet" type="text/css">
<link href='/fonts.googleapis.com/css?family=Open+Sans:400,500,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.static/v/bs/dt-1.10.12/datatables.min.css" />
{% endblock styles %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-top: 15px;">
        {% include 'sidenav.html' %}
        <div class="col-lg-8">
            <div class="white-area-content" style=" height:100%;">
                {% block e_content %}
                <h1 class="text-center">Add Greivance</h1><br>
                <form method="post" id="grievance_form" sub-categories-url="{% url 'load_subcategories' %}">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group login-form-area has-feedback">
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <p><input type="submit" class="btn btn-flat-login
                          form-control bg-dark w-100" id="submit_grievance" style="font-size: 20px;"
                            value="Submit Grievance"></p>
                </form>
                {% endblock e_content %}
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block javascript %}
<script src="{% static 'js/load_subcat.js' %}"></script>
{% endblock javascript %}
