{% extends 'dash_base.html' %}
{% block e_content %}
    <div id="container" style="width: 75%;">
        <canvas id="grievance-chart" data-url="{% url 'grievance-chart' %}"></canvas>
    </div>
{% endblock e_content %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
            integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var $grievanceChart = $("#grievance-chart");
        $.ajax({
            url: $grievanceChart.data("url"),
            success: function (data) {
                var ctx = $grievanceChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Grievances Over Time'
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    parser: 'YYYY-MM-DD',
                                    unit: 'day',
                                },
                            }]
                        }
                    },
                });
            }
        });
    </script>
{% endblock javascript %}