{% extends 'base.html' %}
{% block content %}
<!--contact-->
        <section id="inner-headline">
            <div class="container">
                <div class="row nomargin">
                    <div class="span3 offset-5">
                        <div class="inner-heading">
                            <h2>Get in touch</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="content" style="padding:10px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1886.579101322586!2d72.8299627416084!3d18.968619359114154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce40ffcfcacd%3A0x5d71ff22760f8e77!2sM.H.%20Saboo%20Siddik%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1579590502004!5m2!1sen!2sin"
                width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="container-fluid">
                <div class="row" style="margin-top:30px ;">
                    <div class="span8 offset-1">
                        <h4 style="text-align: center;">Get in touch with us by filling contact form below</h4>
                        <form id="contactform" action="" method="post" role="form" class="contactForm">

                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>

                            <div class="row">
                                <div class="span4 field form-group">
                                    <input type="text" name="name" placeholder="* Enter your full name"
                                        data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="span4 field form-group">
                                    <input type="text" name="email" placeholder="* Enter your email address"
                                        data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="span8 margintop10 field form-group">
                                    <input type="text" name="subject" placeholder="Enter your subject"
                                        data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="span8 margintop10 field form-group">
                                    <textarea rows="12" name="message" class="input-block-level"
                                        placeholder="* Your message here..." data-rule="required"
                                        data-msg="Please write something"></textarea>
                                    <div class="validation"></div>

                                    <p>
                                        <button class="btn btn-color margintop10 pull-left" type="submit">Send
                                            message</button>
                                        <span class="pull-right margintop20">* Please fill all required form field,
                                            thanks!</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span4 ">
                        <div class="clearfix"></div>
                        <aside class="right-sidebar">

                            <div class="widget">
                                <h5 class="widgetheading">Contact information<span></span></h5>

                                <ul class="contact-info">
                                    <li><label>Address :</label> M.H. Saboo Siddik College of Engineering
                                        8, Saboo Siddik Polytechnic Road, Byculla, Mumbai, Maharashtra 400008</li>
                                    <li><label>Phone :</label>(022) 23012922</li>
                                    <li><label>Fax : </label>23082640</li>
                                    <li><label>Email : </label> mhssce@yahoo.in</li>
                                </ul>

                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}