{% extends 'base1.html' %}
{% load static %}
{% block styles %}
<!-- Bootstrap -->
{% comment %}
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="scstatic/"> {% endcomment %}
<!-- Styles -->
<link href="{% static 'css/styles/layouts/titan/main.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/styles/layouts/titan/responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/styles/elements.css' %}" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.static/v/bs/dt-1.10.12/datatables.min.css" />
{% block estyles %}

{% endblock estyles %}
{% endblock styles %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="container-fluid" >
    <div class="row" style="margin-top: 15px;">
        {% include 'sidenav.html' %}
        <div class="col-lg-8" >
            <div class="white-area-content" style=" height:100%;">
                {% block e_content %}
                {% endblock e_content %}
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}