{% extends 'dash_base.html' %}
{% block e_content %}
<div class="bg-dark">
    <h1 class="text-center" style="color:#99FF33;margin-bottom:-10px;">My Account</h1><br>
</div>
<div>
    <b style="font-size:20px;">First Name:</b>
    <p style="font-size:20px;display:inline;"> {{ user.first_name }}</p><br>
</div>
<hr style="border: 1px solid #99FF33;">
<div>
    <b style="font-size:20px;">Last Name:</b>
    <p style="font-size:20px;display:inline;">{{ user.last_name }}</p><br>
</div>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Email:</b>
<p style="font-size:20px;display:inline;"> {{ user.email }}</p><br>
<hr style="border: 1px solid #99FF33;">
{% if user.designation == "UNI" or user.designation == "UNI_H" %}
<b style="font-size:20px;">University:</b>
<p style="font-size:20px;display:inline;"> {{ user.get_redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
{% endif %}
{% if user.designation == "INS" or user.designation == "INS_H" %}
<b style="font-size:20px;">University:</b>
<p style="font-size:20px;display:inline;">
    {{ user.get_redressal_body.institute.university.redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Institute:</b>
<p style="font-size:20px;display:inline;"> {{ user.get_redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
{% endif %}
{% if user.designation == "DEP" or user.designation == "DEP_H" %}
<b style="font-size:20px;">University:</b>
<p style="font-size:20px;display:inline;">
    {{ user.get_redressal_body.department.institute.university.redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Institute:</b>
<p style="font-size:20px;display:inline;">
    {{ user.get_redressal_body.department.institute.redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Department:</b>
<p style="font-size:20px;display:inline;"> {{ user.get_redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
{% endif %}
{% if user.designation == "STU" %}
<b style="font-size:20px;">University:</b>
<p style="font-size:20px;display:inline;">
    {{ user.get_redressal_body.department.institute.university.redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Institute:</b>
<p style="font-size:20px;display:inline;"> {{ user.get_redressal_body.department.institute.redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
<b style="font-size:20px;">Department:</b>
<p style="font-size:20px;display:inline;"> {{ user.get_redressal_body.name }}</p><br>
<hr style="border: 1px solid #99FF33;">
{% endif %}
{% endblock e_content %}