{% extends 'base.html' %}
{% block content %}
<!--contact-->
        <section id="inner-headline">
      <div class="container-fluid">
        <div class="row nomargin text-center">
        <div class="col">
              <h2 style="margin:15px 0px;">FAQ</h2>
        </div>
        </div>
      </div>
    </section>

    <div class="accordion" id="accordionExample">
            <div class="card">
               <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                       What is the purpose and objectives of Grievance Redressal platform portal?
                     </button>
                  </h5>
               </div>
               <div id="collapseOne" class="collapse"
                  aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                     Purpose: The portal has been created to provide convenience to student by allowing them to lodge a grievance through their mobile phones or computers. This removes the need for them to appear at any location and file a physical grievance. In addition, it provides them the facility of tracking the live status of their complaint.

Objective: The objective of the portal is to ensure speedy, convenient and effective redressal of student issues by the administration.
                  </div>
               </div>
            </div>
 
            <div class="card">
               <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                     What kind of grievances can I post ?
                     </button>
                  </h5>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#accordionExample">
                  <div class="card-body">
                     
                  </div>
               </div>
            </div>
 
            <div class="card">
               <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                     <button class="btn btn-link collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                     Bootstrap
                     </button>
                  </h5>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                  data-parent="#accordionExample">
                  <div class="card-body">
                     Bootstrap is a free front-end framework for faster and easier web development.
                     Bootstrap includes HTML and CSS based design templates for typography ...
                  </div>
               </div>
            </div>
 
         </div>
{% endblock content %}