{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Student Grievance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Student Greviance System" />

    <!-- css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Theme skin -->
    <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" />

    <link rel="shortcut icon" href="{% static 'ico/tab.png' %}" />

</head>

<body style="overflow-x: hidden;">
    <div id="wrapper">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="row nomargin">

                    <div class="cols-5 offset-1">
                        <div class="logo" style="margin-top:15px;">
                            <h3>
                                <p style="color: whitesmoke;"><i class="fas fa-hands-helping text-success"
                                        style="color:greenyellow;"></i> Student Grievance Redressal Portal</p>
                            </h3>
                        </div>
                    </div>

                    <div class="cols-3 offset-3">
                        <div class="navbar navbar-static-top ">
                            <div class="navigation" style="margin-top:15px;">
                                <nav>
                                    <ul class="nav topnav">
                                        <li class="active">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">About Us<i class="icon-angle-down"></i></a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Contact Us<i class="icon-angle-down"></i></a>

                                        </li>

                                        <li>
                                            <a href="#">Login </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        {% block content %}
    
    {% endblock content %}
        <!-- javascript  -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <script src="{% static 'js/toucheffects.js' %}"></script>
        <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
        <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
        <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
        <script src="{% static 'js/portfolio/setting.js' %}"></script>
        <script src="{% static 'js/animate.js' %}"></script>
        <script src="{% static 'js/all.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Template Custom JavaScript File -->
        <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>