{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Student Grievance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Student Greviance System" />

  <!-- css -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Theme skin -->
  <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}" />
  <link rel="shortcut icon" href="{% static 'ico/tab.png' %}" />

</head>

<body style="overflow-x: hidden;">
  <div id="wrapper">
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div class="row nomargin">
        
          <div class="cols-5 offset-1">
            <div class="logo" style="margin-top:15px;">
              <h3><p style="color: whitesmoke;"><i class="fas fa-hands-helping text-success" style="color:greenyellow;"></i> Student Grievance Redressal Portal</p></h3>
            </div>
          </div>
          
          <div class="cols-3 offset-3">
            <div class="navbar navbar-static-top ">
              <div class="navigation" style="margin-top:15px;">
                <nav>
                  <ul class="nav topnav">
                    <li class="active">
                      <a href="#">Home</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">About Us<i class="icon-angle-down"></i></a>
                      
                    </li>
                    <li class="dropdown">
                      <a href="#">Contact Us<i class="icon-angle-down"></i></a>
                  
                    </li>
                  
                    <li>
                      <a href="#">Login </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2>Welcome to Remember!</h2>
        <h3>Lorem ipsum dolor sit amet, elit persecuti efficiendi</h3>
        <div>
          <a href="#content" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </section>
    <!-- /section intro -->

    <section id="content">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 30px;">
          <div class="row">
          <div class="span6"><img alt="online grievance redressal system"
              src="https://images.pexels.com/photos/3059854/pexels-photo-3059854.jpeg" style="height: 360px; width: auto;" title="Grievance Redressal System Features">
          </div>

          <div class="span6">
            <h2 class="color-font light">GRIEVANCE FEATURES</h2>
            <p>Grepix Infotech design and develop online grievance redressal system that is
              ideally accessible, simple, quick, fair, and respect confidentiality of the users. Also, it is responsive,
              effective, accountable and able to provide feedback to institute management for systematic reform. This
              online grievance management mechanism, designed in accordance with AICTE norms, aims at resolving the
              grievances of students, parents and others with optimal transparency and accuracy.Online
                Grievance Redressal system has separate dashboard for different type of users including student,
              admin and grievance cell members helps to maintain confidentiality in grievance procedure.</p>
            <a class="btn btn-color btn-lg" href="./grievance-features.html">Read more features</a>
          </div>
        </div>
      </div>
  
    </section>


    <div>
      <div class="container-fluid bg-dark" >
        <div class="row" style="margin-bottom: 0px; margin-top: 10px;">
          
          <div class="span-6 offset-1">
            <div class="widget">
              <div class="footer_logo">
                <h4 style="color:whitesmoke;"><p href="#"><i class="fas fa-hands-helping" style="font-size: 20px; color: greenyellow;"></i> Student Greviance<br> Redressal Portal</p></h4>
              </div>
            </div>
          </div>
          <div class="span-6 offset-2" >
            <div class="widget">
              <address>
                <strong>Remember company Inc.</strong><br>
                Somestreet KW 101, Park Village W.01<br>
                Jakarta 13426 Indonesia
              </address>
            </div>
          </div>
          <div class="span-5 offset-2">
            <div class="widget">
              <p>
                <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                <i class="icon-envelope-alt"></i> email@domainname.com
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="sub-footer" style="margin-top:0px ;padding-top: 10px;padding-bottom: 10px;">
      <div class="container-fluid" >
        <div class="row">
          <div class="span2">
            <div class="copyright">
              <p>&copy; All right reserved</p>
            </div>

          </div>

          <div class="span9">
            <div class="credits">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i
                      class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i
                      class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i
                      class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i
                      class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript 
   Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>
  <script src="{% static 'js/toucheffects.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'js/portfolio/setting.js' %}"></script>
  <script src="{% static 'js/animate.js' %}"></script>
  <script src="{% static 'js/all.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>