{% extends 'base.html' %}
{% load static %}
{% block title %}Student Grievance
{% endblock title %}

{% block content %}
    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2>Welcome to !</h2>
        <h3>Lorem ipsum dolor sit amet, elit persecuti efficiendi</h3>
        <div>
          <a href="#content" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </section>
    <!-- /section intro -->

    <section id="content">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 30px;">
          <div class="row">
          <div class="span6"><img alt="online grievance redressal system"
              src="{% static 'img/aboutus.jpeg' %}" style="height: 360px; width: auto;" title="Grievance Redressal System Features">
          </div>

          <div class="span6">
            <h2 class="color-font light">GRIEVANCE FEATURES</h2>
            <p>Grepix Infotech design and develop online grievance redressal system that is
              ideally accessible, simple, quick, fair, and respect confidentiality of the users. Also, it is responsive,
              effective, accountable and able to provide feedback to institute management for systematic reform. This
              online grievance management mechanism, designed in accordance with AICTE norms, aims at resolving the
              grievances of students, parents and others with optimal transparency and accuracy.Online
                Grievance Redressal system has separate dashboard for different type of users including student,
              admin and grievance cell members helps to maintain confidentiality in grievance procedure.</p>
            <a class="btn btn-color btn-lg" href="./grievance-features.html">Read more features</a>
          </div>
        </div>
      </div>
  
    </section>
   

{% endblock content %}