{% extends 'base.html' %}
{% load static %}
{% block title %}Student Grievance
{% endblock title %}

{% block content %}
    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <p style="font-size: 50px; color:white;">Welcome to Student Grievance Portal!</p>
        <h3>We are there for You</h3>
      </div>
    </section>
    <!-- /section intro -->

    <section id="content">
      <div class="container-fluid" style="margin-top: 10px; margin-left: 30px;">
        <div class="row nomargin">
          <div class="col-md-6 col-sm-12 mb-3"><img alt="online grievance redressal system"
              src="{% static 'img/aboutus.jpeg' %}" style="height: 360px; width: 85%;" title="Grievance Redressal System Features">
          </div>
          
          <div class="col-md-5 col-sm-12">
            <h2 class="color-font light text-center">GRIEVANCE FEATURES</h2>
            <p class="text-justify">Grepix Infotech design and develop online grievance redressal system that is
              ideally accessible, simple, quick, fair, and respect confidentiality of the users. Also, it is responsive,
              effective, accountable and able to provide feedback to institute management for systematic reform. This
              online grievance management mechanism, designed in accordance with AICTE norms, aims at resolving the
              grievances of students, parents and others with optimal transparency and accuracy.Online
                Grievance Redressal system has separate dashboard for different type of users including student,
              admin and grievance cell members helps to maintain confidentiality in grievance procedure.</p>
            <div class="text-center">
            <a class="btn btn-color btn-lg"href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
  
    </section>
   

{% endblock content %}