{% extends 'dash_base.html' %}
{% load widget_tweaks %}
{% block e_content %}
<h1 class="text-center">My Grievances</h1>
<table>
<thead>
<tr>
<th>Token No</th>
<th>Status</th>
<th>Category</th>
<th>Sub-Category</th>
<th>Subject</th>
</tr>
</thead>
<tbody>
{% for grievance in grievance_list %}
<tr>
<td>{{ grievance.date|date:"Ymd" }}{{ grievance.daytoken|stringformat:"04d" }}</td>
<td>{{ grievance.status }}</td>
<td>{{ grievance.category }}</td>
<td>{{ grievance.sub_category }}</td>
<td>{{ grievance.subject }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock e_content %}