{% extends 'common/linkless_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}Forgot Password{% endblock page_title %}
{% block page_content %}
    <div class="container mt-lg-5 mt-5 pt-5">
        <div class="row justify-content-center mt-lg-5 pt-lg-5">
            <div class="col-lg-6 col-12">
                <div class="card-columns" style="column-count: 1">
                    <div class="card-custom p-4 mb-4">
                        <div class="card-block">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <h5 class="card-custom-title" style="text-transform: uppercase">Forgot Password</h5>
                                </div>
                                <h6 class="mb-4 mt-1 text-muted" style="text-align: center">Please enter your email address registered with your account</h6>
                                <div class="input-group mb-3 px-lg-3">
                                    {% render_field form.email class="form-control" placeholder="Email" %}
                                </div>
                                <div style="text-align: center" class=" mb-3 px-lg-3">
                                    <button type="submit" class="btn btn-success" style="width: 100%">Send Link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
