{% extends 'common/linkless_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
    Password changed!
{% endblock page_title %}
{% block page_content %}
    <div class="container mt-lg-5 mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card-columns" style="column-count: 1">
                <div class="card p-4 mb-4" style="border: none">
                    <div class="card-block justify-content-center">
                        <h1 style="text-align: center"><i class="fa fa-check-circle"
                            style="font-size: 150px;color:rgb(103, 192, 13);" aria-hidden="true"></i></h1>
                        <h1 class="mt-2 font-weight-bold" style="text-transform: uppercase; text-align: center">Password Reset Successful!</h1>
                        <h5 class="mt-2" style="text-align: center">Your password has been reset successfully.</h5>
                        <p style="text-align: center"> Login in with new credentials <a href="{% url 'home' %}">Homepage</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}