{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% if validlink %}
    Change password for {{ form.user.username }}
    {% else %}
    Reset your password
    {% endif %}
  </title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
</head>

<body>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
              <div class="card">
                <div class="card-body">
                  {% if validlink %}
                  <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
                  <form method="post" novalidate>
                    {% csrf_token %}
                    <form method="post">
                      {% csrf_token %}
                      {% for field in form.visible_fields %}
                      <div class="form-group login-form-area has-feedback">
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% endfor %}
                      <input type="submit" class="btn btn-flat-login form-control" value="Send">
                    </form>
                  {% else %}
                  <h3 class="card-title">Reset your password</h3>
                  <div class="alert alert-danger" role="alert">
                    It looks like you clicked on an invalid password reset link. Please try again.
                  </div>
                  <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset
                    link</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>