{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grepix Infotech Pvt LTD</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <!-- Styles -->
    <link href="{% static 'css/login_layout.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,500,600,700' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin">

                <div class="container">
                    <div class="row">
                        <div class="col-md-5 center-block-e">



                            <div class="login-form">
                                <div class="login-form-inner">

                                    <h2>Forgot Password</h2>
                                    <p>If you've forgotten your password,
                                        enter your email address that you
                                        used to create an account and we
                                        will send it to you.</p>

                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form.visible_fields %}
                                        <div class="form-group login-form-area has-feedback">
                                            {% render_field field class="form-control" placeholder=field.label %}
                                            {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                        <input type="submit" class="btn
                                                    btn-flat-login form-control" value="Send">
                                    </form>
                                    <p class="decent-margin align-center"><a href="{% url 'login' %}">
                                            Go Back</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>