{% extends 'common/linkless_base.html' %}
{% load static %}
{% block page_title %}Check Your Email{% endblock page_title %}
{% block page_content %}
    <div class="container mt-lg-5 mt-5 pt-5">
        <div class="row justify-content-center mt-lg-5 pt-lg-5">
            <div class="col-lg-6 col-12">
                <div class="card-columns" style="column-count: 1">
                    <div class="card-custom p-4 mb-4">
                        <div class="card-block">
                            <div class="row justify-content-center">
                                <h5 class="card-custom-title" style="text-transform: uppercase">Reset your password</h5>
                            </div>
                            <div class="mb-3 px-lg-3">
                                <p>Check your email for a link to reset your password. If it doesn't appear within a few
                                    minutes, check your
                                    spam folder.</p>
                                    <br>
                                <a href="{% url 'home' %}" class="btn btn-success btn-block" style="color: white !important;">Return to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
