{% extends 'dash_base.html' %}
{% load widget_tweaks %}
{% block e_content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ gr_upform.sub_category.label }}
        {% render_field gr_upform.sub_category class="form-control mt-1" %}
        {% for error in gr_upform.sub_category.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ gr_upform.subject.label }}
        {% render_field gr_upform.subject class="form-control mt-1" %}
        {% for error in gr_upform.subject.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ gr_upform.message.label }}
        {% render_field gr_upform.message class="form-control mt-1" %}
        {% for error in gr_upform.message.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% if gr_upform.instance.image %}
    <a href="{{ gr_upform.instance.image.url }}">View Image</a>
    {% endif %}
    <div class="form-group">
        {{ gr_upform.status.label }}
        {% render_field gr_upform.status class="form-control mt-1" %}
        {% for error in gr_upform.status.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    {% for field in reply_form.visible_fields %}
    <div class="form-group has-feedback">
        {% render_field field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="form-control btn btn-primary">Submit</button>
</form>
<div>
{% for reply in replies %}
{{ reply.message }}
{% endfor %}
</div>
{% endblock e_content %}