{% extends 'dash_base.html' %}
{% load widget_tweaks %}
{% load studentg_extras %}
{% block estyles %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock estyles %}



{% block e_content %}
<h1 class="text-center">Grievances</h1>
<form method="get">
   {% for field in filter.form.visible_fields %}
   <div class="form-group has-feedback">
       {% render_field field class="form-control col-6" placeholder=field.label %}
       {% for error in field.errors %}
       <span class="help-block">{{ error }}</span>
       {% endfor %}
   </div>
   {% endfor %}<br>
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th>Token No</th>
            <th>Last Updated</td>
            <th>Sub-Category</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        {% for grievance in gr_list %}
        <tr>
            {% with grievance.date|date:"Ymd" as date %}
            {% with grievance.daytoken|stringformat:"04d" as daytoken %}
            {% with date|addstr:daytoken as token %}
            <td><a
                    href="{% url 'update_grievance' token %}" class="btn btn-primary">{{ grievance.date|date:"Ymd" }}{{ grievance.daytoken|stringformat:"04d" }}</a>
            </td>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            <td>{{ grievance.last_update }}</td>
            <td>{{ grievance.sub_category }}</td>
            <td>{{ grievance.subject }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% with gr_list as page_obj %}
    {% include 'includes/pagination.html' %}
{% endwith %}
{% endblock e_content %}