<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Grievance</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/all.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="http://www.stitchmyapp.com/grepix-support/styles/client2.css" rel="stylesheet" type="text/css">

    <style>
        .header-links li:hover{
            border-radius: 6px;
            border: 2px solid #302f2f;
            background: #343434;
            padding:2px;
        }
        .header-links ul li{
            margin: 13px 20px 13px 20px;
        }
    </style>
</head>

<body>

    <div class="container-fluid background-area">
    </div>

    <div class="container-fluid header-top">
        <div class="row" style="height: 55px;">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <div class="header-logo m-1" style="font-family: 'Segoe UI';">
                                <i class="fas fa-hands-helping" style="color:greenyellow;"></i>
                                Student Grievance Redressal Portal
                            </div>
                            <div class="header-links mt-2" style="font-family: 'Segoe UI';font-size: 18px;">
                                <ul>

                                    <li><a href="addgrievance.html">Add New Grievance</a></li>
                                    <li><a href="viewgrievance.html">View Grievances</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">

                        <div class="col-md-offset-2 col-md-8 header-search">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container" style="font-family: 'Segoe UI'; font-size: 20px;">
                    <div class="row">
                        <div class="col-md-12 content-area">

                            <h3 class="home-label">Grievance</h3>

                            <ol class="breadcrumb">
                                <li><a href="#">Home/</a></li>
                                <li class="active">Your Grievances</li>
                            </ol>


                            <div class="table-responsive">
                                <table id="ticket-table" class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr class="table-header">
                                            <td>#</td>
                                            <td>Title</td>
                                            <td>Priority</td>
                                            <td>Status</td>
                                            <td>Category</td>
                                            <td>Last Reply</td>
                                            <td>Options</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright Grepix Infotech Pvt Ltd 2018.
            </p>
        </div>
    </footer>

</body>

</html>