<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        media="screen">
    <link href="static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"
        media="scstatic/">
    <!-- Styles -->
    <link href="static/styles/layouts/titan/main.css" rel="stylesheet"
        type="text/css">
    <link href="static/styles/layouts/titan/dashboard.css" rel="stylesheet"
        type="text/css">
    <link href="static/styles/layouts/titan/responsive.css" rel="stylesheet"
        type="text/css">
    <link href="static/styles/elements.css" rel="stylesheet" type="text/css">
    <link href='/fonts.googleapis.com/css?family=Open+Sans:400,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.static/v/bs/dt-1.10.12/datatables.min.css" />
</head>

<body>
    <div class="white-area-content" style="height:100px;margin-left: 260px; height:15cm;">
        <div class="row">
        </div>
        <hr>
        <div class="row">
        </div>
        <hr>
        <p class="align-center small-text">Made By Grepix Infotech Pvt Ltd</p>
    </div>
    </div>
    </div>

</body>

</html>