input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.row.centerit {
  text-align: center;
}

.formcustom {
  max-width: 400px;
  height: 325px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 40px;
}

.letdown {
  margin-top: 40px;
}

#logmein {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 90px;
  border-color: white;
  background-color: white;
  border: none;
  width: 90px;
  height: 30px;
}

.in {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 30px;
  text-align: center;
  border: 4px;
}

#user {
  margin-top: 20px;
}

#logmein:hover {
  background-color: white;
  box-shadow: 0 0 10px;
}

input:focus {
  box-shadow: 0 0 10px;
  outline: none;
}

label {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: 54px;
  display: inline-block;
  left: -3px;
  color: #999;
  transition: 0.2s ease all;
}

label, input:hover {
  cursor: text;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

.glyphicon-log-in {
  /*margin: 0 3px 3px 0px;*/
}

button:focus {
  outline: 0;
}

