{% extends 'studentg/dashboard_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}My Grievances{% endblock page_title %}
{% block page_heading %}My Grievances{% endblock page_heading %}
{% block page_content %}
    <!--message Modal -->
    <div class="modal fade" id="grievance-messages-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!--End  Modal -->


    <div class="container mt-3 pl-lg-5">
        <div class="row justify-content-around">
            <div class="col-lg-8 col-12 px-lg-3 order-lg-1 order-0 align-left">

                <div class="card-custom mt-2 mt-lg-0 help-card">
                    <div class="row justify-content-between align-items-center">
                        <div class=" col-md-4">
                            <h5 class="my-3 card-custom-title" style="">All Grievances</h5>
                        </div>
                    </div>
                    <!--Filters-->
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12">
                            <!--Search-->
                            <form method="get" class="form-loads-subcategories row mb-3 py-3"
                                  data-sub-categories-url="{% url 'load_subcategories' %}"
                                  style="border-radius: 5px; border: 1px solid #dee2e6;">
                                <div class=" col-lg-6 col-12 mb-1 m-0">
                                    <label for="{{ filter_form.subject.id_for_label }}"
                                           class="mt-2 mb-1">{{ filter_form.subject.label }}</label>
                                    {% render_field filter_form.subject class="form-control form-control-sm" placeholder="Search..." %}
                                </div>
                                <div class=" col-lg-6 col-12 mb-1 m-0">
                                    <label for="{{ filter_form.status.id_for_label }}"
                                           class="mt-2 mb-1">{{ filter_form.status.label }}</label>
                                    {% render_field filter_form.status class="custom-select-sm custom-select" %}
                                </div>
                                <div class="col-12 col-lg-12 so-accordion-wrapper mt-2" style="">
                                    <div class="so-tab">
                                        <input id="so-tab-1" type="checkbox" name="tabs"/>
                                        <label for="so-tab-1" class="mb-2" style=""><h6 class="m-0">More Filters</h6>
                                        </label>
                                        <div class="so-tab-content row mb-0" style="border-bottom: none;">
                                            <div class=" col-lg-6 col-12 mb-1 m-0">
                                                <label for="{{ filter_form.category.id_for_label }}"
                                                       class="mt-2 mb-1">{{ filter_form.category.label }}</label>
                                                {% render_field filter_form.category class="custom-select-sm custom-select" %}
                                            </div>
                                            <div class=" col-lg-6 col-12 mb-1 m-0">
                                                <label for="{{ filter_form.sub_category.id_for_label }}"
                                                       class="mt-2 mb-1">{{ filter_form.sub_category.label }}</label>
                                                {% render_field filter_form.sub_category class="custom-select-sm custom-select" %}
                                            </div>

                                            <div class=" col-lg-6 col-12 mb-1 m-0">
                                                <label for="{{ filter_form.o.id_for_label }}"
                                                       class="mt-2 mb-1">{{ filter_form.o.label }}</label>
                                                {% render_field filter_form.o class="custom-select-sm custom-select" %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12 mt-2" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-sm w-50">Search</button>
                                </div>
                            </form>
                        </div>
                        <table class="table step3-table filter-this-table">
                            <tbody id="repeat-this-grievance">
                            {% with grievances=page_obj %}
                                {% include 'studentg/includes/iterate_grievances.html' %}
                            {% endwith %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
            <div class="col-lg-4 col-12 px-lg-4 order-lg-2 order-2">
                <div class="card-custom mt-2 mt-lg-0 help-card">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h5 class="my-3 card-custom-title" style="">Stats</h5>
                        </div>
                        <table class="table step3-table filter-this-table">
                            <thead>
                            <canvas id="grievance-status-chart" data-url="{% url 'status_stats_chart' %}"></canvas>
                            </thead>
                            <tbody>
                            <!--========== ROW 1 STARTS =========-->

                            <tr aria-rowspan="2" class="card-row">
                                <td class="align-middle">
                                    <div class="initiative-heading">
                                        <h6 class="font-weight-bold mb-0 text-muted">Draft</h6>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="m-0">Your Grievance is incompelete or not submitted</p>
                                </td>
                                <td class="align-middle" hidden>
                                    <p class="m-0">123456</p>
                                </td>
                            </tr>


                            <!--========== ROW 1 ENDS =========-->

                            <!--========== ROW 2 STARTS =========-->

                            <tr aria-rowspan="2" class="card-row">
                                <td class="align-middle">
                                    <div class="initiative-heading">
                                        <h6 class="font-weight-bold mb-0 text-primary">In-Review</h6>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="m-0">Awaiting approval</p>
                                </td>
                            </tr>

                            <!--========== ROW 2 ENDS =========-->
                            <!--========== ROW 3 STARTS =========-->
                            <tr aria-rowspan="2" class="card-row">
                                <td class="align-middle">
                                    <div class="initiative-heading">
                                        <h6 class="font-weight-bold mb-0 text-warning">Pending</h6>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="m-0">Your Grievance has been approved and is being resolved</p>
                                </td>
                                <td class="align-middle" hidden>
                                    <p class="m-0">123456</p>
                                </td>
                            </tr>
                            <!--========== ROW 3 ENDS =========-->
                            <!--========== ROW 4 STARTS =========-->
                            <tr aria-rowspan="2" class="card-row">
                                <td class="align-middle">
                                    <div class="initiative-heading">
                                        <h6 class="font-weight-bold mb-0 text-success">Resolved</h6>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="m-0">Your Grievance has been successfully resolved</p>
                                </td>
                                <td class="align-middle" hidden>
                                    <p class="m-0">123456</p>
                                </td>
                            </tr>
                            <!--========== ROW 4 ENDS =========-->
                            <!--========== ROW 5 STARTS =========-->
                            <tr aria-rowspan="2" class="card-row">
                                <td class="align-middle">
                                    <div class="initiative-heading">
                                        <h6 class="font-weight-bold mb-0 text-danger">Rejected</h6>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="m-0">Your Grievance has been disapproved</p>
                                </td>
                                <td class="align-middle" hidden>
                                    <p class="m-0">123456</p>
                                </td>
                            </tr>

                            <!--========== ROW 5 ENDS =========-->


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block javascript %}
    <script src="{% static 'studentg/js/load_subcat.js' %}"></script>
    {% include 'includes/chart_scripts.html' %}
    <script src="{% static 'common/js/status_pie_loader.js' %}"></script>
{% endblock javascript %}