{% extends 'studentg/dashboard_base.html' %}
{% load widget_tweaks %}
{% block page_title %}View Grievance{% endblock page_title %}
{% block page_heading %}View Grievance{% endblock page_heading %}
{% block page_content %}
<div class="container mt-3 pl-lg-5">
    <div class="row">
        <div class="col-lg-7 col-12 px-lg-3 ">
            <div class="card-custom mt-2 mt-lg-0 help-card pb-4">
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="">
                        <h5 class="my-3 card-custom-title" style="">{{ grievance.subject }}</h5>
                    </div>
                </div>

                {% if rating_form %}
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #252766; border-radius: 5px">
                    <div class="col-12">
                        <h6 class="font-weight-bold">Your grievance has been {{ grievance.get_status_display }}!</h6>
                    </div>
                    <div class="col-12">
                        <p class="text-muted" style="text-align: center;">
                            Your feedback matters the most! 
                        </p>
                    </div>
                    <div class="col-12 justify-content-center" style="text-align: center;">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row justify-content-center mb-2" style="text-align: center;">
                                    <div class="rate">
                                        {% for radio in rating_form.rating %}
                                            {% render_field radio.tag %}
                                            <label for={{ radio.id_for_label }}>{{ radio.choice_label }}</label>
                                        {% endfor %}
                                    </div>
                            </div>
                            <div class="row" style="text-align: center" class=" mb-3 ">
                                <div class="col">
                                    <button type="submit" class="btn btn-success btn-sm w-100">
                                        <i class="fa fa-stars" aria-hidden="true"></i>
                                        &nbsp;Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col" hidden>
                        <div class="form-group my-3 ">
                            <p for="exampleInputEmail1">Reason (Optional)</p>
                            <textarea rows="5" class="form-control w-100" aria-label="With textarea"
                                placeholder="Type Your Text Here..."></textarea>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p><b>Token No.:</b> {{ grievance.token }}</p>
                            </div>
                            <div class="col">
                                <p><b>Status:</b><span class="{{ grievance.status_html_class }}">
                                        {{ grievance.get_status_display }}</span></p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p><b>Category:</b> {{ grievance.get_category_display }}</p>
                            </div>
                            <div class="col">
                                <p><b>Sub-category:</b> {{ grievance.sub_category.sub_type }}</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p><b>Posted on: </b> {{ grievance.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <h6 class="font-weight-bold">Description</h6>
                        <p class="text-muted">
                            {{ grievance.message }}
                        </p>
                    </div>
                </div>
                {% if grievance.image %}
                <div class="row justify-content-between align-items-center py-3 mx-1 mt-2"
                    style="border: 1px solid #dee2e6; border-radius: 5px">
                    <div class="col">
                        <h6 class="font-weight-bold">Attachment <span class="text-muted small">(Click to
                                enlarge)</span>
                        </h6>
                        <a href="/media/{{ grievance.image }}" target="_blank">
                            <img src="{{ grievance.image.url }}" height="100%" width="100%" style="border-radius: 5px;">
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if grievance.status == grievance.DRAFT %}
                <div class="row">
                    <div class="col">
                        <a href="{% url 'edit_grievance' grievance.token %}">
                            <div class="row justify-content-between align-items-center py-3 mx-1 mt-2">
                                <button class="btn btn-dark" style="width: 100%">
                                    <i class="fa fa-pencil"></i>
                                    Edit Draft
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if grievance.status != grievance.DRAFT %}
        <div class="col-lg-5 col-12 px-lg-3 ">
            <div class="card-custom mt-2 mt-lg-0 help-card pb-4">
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="">
                        <h5 class="my-3 card-custom-title" style="">Messages</h5>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center mx-1">
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-12 px-lg-0 order-lg-1 p-0">

                                <div
                                    style="max-height:300px; overflow-y:scroll; border: 1px solid #dee2e6; border-radius: 5px;">
                                    <table class="table filter-this-table">
                                        <tbody>
                                            {% include "includes/iterate_replies.html" %}
                                            <!--========== ROW 1 ENDS =========-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if reply_form %}
                        <form method="post">
                            {% csrf_token %}
                            {% include "includes/reply_form.html" %}
                            <div class="row" style="text-align: center" class=" mb-3 ">
                                <button type="submit" class="btn btn-success" style="width: 100%"><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Send
                                </button>
                            </div>
                        </form> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock page_content %}